@keyframes flashBg {
  0% { background: black; }
  20% { background: white; }
  40% { background: black; }
  60% { background: white; }
  80% { background: black; }
  100% { background: white; }
}

.animate-flashBg {
  animation: flashBg 3s steps(1) forwards;
}

@keyframes invertLogo {
  0%, 40%, 80% { filter: invert(1); }
  20%, 60%, 100% { filter: invert(0); }
}

.animate-invertLogo {
  animation: invertLogo 3s steps(1) forwards;
}

@keyframes flashBg {
  0% { background: black; }
  100% { background: white; }
}

.animate-flashBg {
  animation: flashBg 0.3s steps(1) infinite;
}

@font-face {
  font-family: "Somniferia";
  src: url("public/fonts/font1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SomniferiaItalic";
  src: url("/fonts/font2.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

.font-somniferia {
  font-family: "Somniferia", serif;
}

.font-somniferia-italic {
  font-family: "SomniferiaItalic", serif;
}

@keyframes spinSlow {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 40s linear infinite;
}